/*
Theme Name: Percussionaire Portal
Theme URI: https://keokee.com
Author: landbryo
Author URI: https://keokee.com
Description: Portal built by Keokee for Percussionaire
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: yawpbp

/************
** GLOBALS **
************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.7;
	font-size: 1.2em;
	color: #3e3e3e;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------End Reset -- Begin Styles -----------------*/

/*********
** CODE **
*********/

code,
pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #69c;
}

/***************
** TYPOGRAPHY **
***************/

h1, h2, h3 {
    font-family: 'Vollkorn', 'Helvetica', 'Arial', serif;
	margin-top: 1em;
	padding-top: 1em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

a {
  font-weight: bold;
    color: #3e3e3e;
}

/***********
** HEADER **
***********/

header {
	background-color: #fff;
    border-bottom: 1px solid #eee;
}

.logo {
	margin: 0 auto;
    padding: 3em;
	display: block;
	max-width: 100%;
    height: auto;
}
/*********
** MENU **
*********/

.hamburger,
.cross {
    position:absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 1.4em;
    background: #eee;
}
.menu {
    width: 100%;
    background: #eee;
    text-align: center;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
}
.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
}
.menu li:hover {
    background: #fff;
}
.menu a {
    text-decoration: none;
}

/*********
** PAGE **
*********/

.container {
	margin: 0 auto;
	max-width: 40em;
    padding: 0 1.5em;
}

.btn,
.button {
    padding: .8em 1.8em;
    background: #fff;
    border: 2px solid #7da3d4;
    color: #253646;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.btn:hover,
.button:hover {
    color: #fff;
    background: #253646;
}

.fourOh {
    text-align: center;
}

/**********
** FORMS **
**********/

input,
textarea {
    width: 100%;
}

input,
textarea,
select {
    padding: 8px;
    box-sizing: border-box;
}

input[type='submit'] {
    background: #566b78;
    color: #eee;
    border: none;
}

/***********
** FOOTER **
***********/

footer {
    padding-top: 3em;
    padding-bottom: 1em;
}

.copyright {
    text-align: center;
}
