body.login {
    background-color: #fff;
}

.login h1 a {
	background-image: url('/wp-content/uploads/2018/09/perc_corp_logo.png');
	background-size: contain;
	background-position: center;
    height: 80px;
    width: 300px;
	margin: 0 auto 25px;
	padding: 0;
}

.login #loginform {
    padding: 2em 1.5em;
    margin-top: 1em;
    margin-bottom: 3em;
    background-color: #f1f1f1;
    border-bottom: 3px solid #2f64c5;
    box-shadow: none;
}

.login #wp-submit {
    color: white;
    background-color: #2f64c5;
    border-radius: 0;
}